@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.education--box {
  padding: 30px;
  // background-color: beige;
  height: 70vh;

  h2 {
    padding-bottom: 1em;
  }

  h3 {
    padding: 1em 0;

    // &:first-of-type {
    //   padding-top: 0;
    // }
  }

  .education--data {
    padding-bottom: 10px;
    border-bottom: 1px dashed black;

    h3 {
      padding: 1em 0;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1.2em;
      text-align: justify;
      width: 90%;
      font-style: italic;
    }
  }
}
