

.hero {
  padding: 30px;
  text-align: center;

  .profile--img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  
  }

  .card {

    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.241);
  }

  h1 {
    margin: 40px 0px 40px;
    text-shadow: 2px 2px gray;
    
  }

  h4 {
    padding: 5px;
    
  }
}
