.more--box {
  padding: 30px;
//   background-color: beige;
//   height: 70vh;

  h2 {
   
    padding-bottom: 1em;
   
  }

  .skills {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    h3 {
        padding-bottom: 1em;
    }


    .languages {
      text-align: center;

      h4 {
        padding: 0.7em 0;
      }

      .language--data {
        border-bottom: 1px dashed black;
      }
    }

    .abilities {
        text-align: center;
    }

    }
    
  }


