@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


.education {
    // font-family: 'Shrikhand', cursive;
    background-color: beige;
    padding: 30px;

    h1 {
        padding: 20px;
        text-align: center;
    }

    h2  {
        // margin-bottom: 20px;
        padding: 20px 0px;
    }

    p {
        font-family: 'Courier New', Courier, monospace;
    }
}
