@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


.experience {
    font-family: 'Shrikhand', cursive;
    // background-color: burlywood;
    padding: 30px;

    h1 {
       
        text-align: center;
    }

    h2 {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }

    h3 {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    p {
        font-family: 'Courier New', Courier, monospace;
    }
}