.app {

  height: 100%;
  display: grid;
  grid-template-areas: "nav nav"
                       "sidebar main"
                       "footer footer";
  grid-template-columns: 220px 1fr;
  grid-template-rows: 80px 1fr 40px;

  nav {
    grid-area: nav;
    background-color: red;
  }

  aside {
    grid-area: sidebar;
    background-color: green;

  }

  main {
    grid-area: main;
    background-color: aquamarine;
    overflow-y: scroll;


      p {
        height: 40px;
        margin-bottom: 8px;
        background-color: brown;

        &::before {
          content: "Under the bridge";
        }
      }
  }

  footer {
    grid-area: footer;
    background-color: blue;

  }

}

