@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;700;900&family=Shrikhand&display=swap");

.app {
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.2em;
  height: 100%;
  display: grid;
  grid-template-areas:
    "nav nav"
    "sidebar main"
    "footer footer";
  grid-template-columns: 19.375em 1fr;
  grid-template-rows: 5.625em 1fr 3.125em;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");

  nav {
    grid-area: nav;
  }

  aside {
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  main {
    grid-area: main;
    margin-top: 4%;
    overflow-y: scroll;
    background-color: rgba(243, 242, 235, 0.808);
    background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");

    // p {
    //   height: 2.5em;
    //   margin-bottom: 0.5rem;
    // }
  }

  footer {
    grid-area: footer;
  }
}

@media only screen and (max-width: 1200px) {
  .app {
    font-size: 16px;
  }
}

@media only screen and (max-width: 850px) {
  .app {
    grid-template-areas:
      "nav nav"
      "sidebar sidebar"
      "main main"
      "footer footer";
    grid-template-rows: 2.625em 1fr 32.125em;
    
    nav{
      font-size: 14px;
    }

    aside{
      font-size: 20px;
    }
    main {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .app {
    nav{
      font-size: 10px;
    }

    aside{
      font-size: 16px;
    }

    main{
      font-size: 10px;
    }

    footer {
      font-size: 12px;
    }
  }
}
